@import "tailwindcss";

@theme {
  --color-primary-green: #16a34a;
}

.skills-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* You can add your custom CSS here */

html {
  scroll-behavior: smooth;
}